# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#test config
config.json
vender/*
.ftpconfig

broadcaster-web/broadcaster-web
media-monitor/media-monitor

broadcaster-web/routes.json

*node_modules/*

*package-lock.json



broadcaster-web/node_modules/
broadcaster-web/dist/
broadcaster-web/npm-debug.log*
broadcaster-web/yarn-debug.log*
broadcaster-web/yarn-error.log*
broadcaster-web/test/unit/coverage/
broadcaster-web/test/e2e/reports/
broadcaster-web/selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
