# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#test config
config.json
vender/*
.ftpconfig

broadcaster-web/go-broadcaster-web
media-monitor/media-monitor

broadcaster-web/routes.json
